Poster: <%= image_tag @cast.avatar(:medium)%>
Name: <%= @cast.name %><br/>
Birtday: <%= @cast.birtday %><br/>
Bio: <%= @cast.bio %><br/>

<%= link_to 'Edit', edit_cast_path(@cast)  %>
<%= link_to 'Back', casts_path %>

<% if can? :update, @cast %>
  <%= link_to "Edit", edit_cast_path(@cast) %>
<% end %>

<br>
<br>
Title  : <%= rating_for @cast, "name" %>



<h2>Movies Acted</h2>
<% @movies_acted.each do |movie| %>
	<%= link_to movie.title, movie %>
	<br>
<% end %>

<h2>Actors</h2>
<% @movies_directed.each do |movie| %>
	<%= link_to movie.title, movie %>
	<br>
<% end %>